.Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(175, 96, 76);
    color: white;
}

.Navigation a {
    color: white;
    text-decoration: none;
}

.Navigation a:hover {
    color: rgb(90, 49, 39);
}