.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 60%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 70px 60px 70px 60px;
    left: 22%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
