.AddFriends {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.AddFriends h4 {
    font-weight:normal; 
}

.AddBtn {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(175, 96, 76);
    cursor: pointer;
}
    
.AddBtn::before {
    content: "+";
    height:25px;
    width:25px;
    font-size:25px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    font-family:courier;
    color:white;
}

.AddBtn:hover {
    background-color: rgb(90, 49, 39);
}

.AddFriendBtn {
    background-color: rgb(175, 96, 76);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.AddFriendBtn:hover {
    opacity: 1;
}

.CancelBtn {
    background-color: rgb(88, 50, 40);
    color: white;
    padding: 16px 20px;
    margin-left: 80px;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
}

.CancelBtn:hover {
    opacity: 1;
}

input[type=email]{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=email]:focus{
    background-color: #ddd;
    outline: none;
}