.Friend {
    width: 100%;
    padding: 30px;
    margin: 0px;
    border: 2px solid white;
    border-left: 8px solid white;
    background: rgb(175, 96, 76);
    color: white;
    cursor: pointer;
}

.Friend:hover {
    background: rgb(90, 49, 39);
}