.Chat {
    /* flex: 3; */
    width: 100%;
    /* height: 660px; */
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    position: absolute;
    left: 27%;
}

.ChatMessage{
    text-align: center;
    display:inline-block;
    float: right;
}