.Chat {
    width: 73%;
    height: 660px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 26%;
    margin:0;
    padding:0;
}

.ChatMessage{
    width: 73%;
    height: 660px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 26%;
    margin:0;
    padding:0;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ChatBox {
    display:flex;
    flex-direction: column;
    background:#333;
    height:100%;
    margin:5px 0px;
}

.ChatMessages_left{
    color: black;
    background-color: white;
    border-radius:3px;
    padding: 10px 8px;
    margin: 5px;
    border: none;
    width:40%;
}
.ChatMessages_right{
    color: black;
    background-color: white;
    padding: 10px 8px;
    margin: 5px;
    border-radius:3px;
    border: none;
    width:40%;
    margin-left: auto;
}
