.Chat {
    width: 73%;
    height: 660px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 26%;
    margin:0;
    padding:0;
}

.ChatMessage{
    width: 73%;
    height: 660px;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 26%;
    margin:0;
    padding:0;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
}