.SendBtn {
    background-color: rgb(175, 96, 76);
    color: white;
    padding: 15px 25px;
    margin: 5px 0 5px 0;
    border: none;
    cursor: pointer;
    width: 15%;
    opacity: 0.9;
}

.SendBar input[type="text"] {
    margin: 5px 0 5px 0;
    width: 80%;
}